html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  color: #f9faf8;
  text-decoration: none;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
}

.header-tab {
  background-color: #1f2937;
  position: fixed;
  width: 100%;
  padding: 10px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-tab .logo {
  height: 40px;
}

.header-tab .text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}

.header-tab .links {
  display: flex;
  gap: 26px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 100px 100px;
}

.header-content .left-container {
  display: flex;
  flex-direction: column;

  gap: 20px;
  width: 500px;
  height: 100%;
}

.header-content .left-container .title {
  font-size: 48px;
  font-weight: bold;
}

.header-content .left-container .description {
  font-size: 18px;
}

.header-content .left-container .button {
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
}

.header-content .right-container {
  height: 260px;
  width: 500px;
}

.header-content .right-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  gap: 30px;
}

.services .title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #1f2937;
}

.services .row {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.services .row .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  height: auto;
  width: 160px;
  gap: 10px;
}

.services .row .container .image {
  height: 160px;
  width: 160px;
}

.services .row .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.services .row .container .description {
  font-size: 18px;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 60px 500px;
  gap: 20px;
}

.quote-container .quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-container .author {
  font-size: 24px;
  font-weight: bold;
}

.sign-up-container {
  background-color: #3882f6;
  border-radius: 10px;
  margin: 80px 380px;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-container .title {
  font-size: 20px;
  font-weight: bold;
  color: #f9faf8;
}

.sign-up-container .description {
  font-size: 16px;
  color: #f9faf8;
}

.sign-up-container .button {
  border: 2px solid #f9faf8;
  border-radius: 10px;
  padding: 10px 30px;
  color: #f9faf8;
  font-weight: bold;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
